
#food-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
#food-container img{
    width:300px;
    height:226px;
    padding: 5px 5px;
    margin: 10px 10px;
    border-radius: 5px;
}

#food-detail img{
    width:588px;
    height:322px;
    padding: 5px 5px;
    margin: 5px 5px;

}
